*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:black;
  column-gap: 35px;
}
header nav ul li{
  list-style: none;
  color: brown;
}
main{
  height: 95vh;
  width: 100%;
  background-color: aqua;
}
